@charset "UTF-8";
@import url(./reset.css);

/* header start */
.header{
    background-color:blanchedalmond;
    width: 100%;
    position: fixed;
    left: 180px;
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}
.header .flex-end{
    justify-content: end;
}
.header__nav{
    padding: 0 10px;
}
/* header end */
.menu-contents{
    display: flex;
    
}
.menu-bar{
    background-color:crimson;
    width: 180px;
    padding-bottom: 900px;
    

}

.contents{
    margin-top: 60px;
    margin-left: 10px;
}


